<?xml version="1.0"?>
<config>
    <!--
    В секции modules находится информация об имени и версии модуля
    -->
    <modules>
        <Webinse_Faq>
            <version>0.1.0</version>
        </Webinse_Faq>
    </modules>
    <!--
    В секции frontend находятся настройки для роутинга.
    В секции routers указываем, какие запросы будут обрабатываться контроллерами данного модуля.
    Каждое правило роутинга имеет свое имя, оно задается в качестве имени первого тега,
    в данном случае - <faq>, т.е. имя - faq.
    Тег use задает, какую модель роутера использовать в данном случае используем стандартный.
    Для его инициализации нужно передать аргументы и это можно сделать при помощи тега args.
    Для стандартного роутера нужно передать имя модуля и префикс запроса - frontName.
    Теперь все запросы по адресу http://BASE_URL/faq/* будут обрабатываться контроллерами модуля Webinse_Faq.
    -->
    <frontend>
        <routers>
            <faq>
                <use>standard</use>
                <args>
                    <module>Webinse_Faq</module>
                    <frontName>faq</frontName>
                </args>
            </faq>
        </routers>
    </frontend>
    <global>
        <models>
            <faq>
                <class>Webinse_Faq_Model</class>
                <resourceModel>faq_resource</resourceModel>
            </faq>
            <faq_resource>
                <class>Webinse_Faq_Model_Resource</class>
                <entities>
                    <faq>
                        <table>webinse_faq</table>
                    </faq>
                </entities>
            </faq_resource>
        </models>
        <!--<resources>
            <faq_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </faq_write>
            <faq_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </faq_read>
        </resources>-->
    </global>
</config>